.form-control {
    border-radius: 30px 30px 30px 30px;
}


.form-group {
    display: block;
    background: rgba(254, 166, 3, 0.4);
    border-radius: 30px 30px 30px 30px;
    color: black;
    width: 490px;
    height: 100px;
    margin-top: 150px; 
}

.text-centre {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.btn  {
  background: rgba(254, 166, 3, 0.6);
  color: black;
  border-color: pink;
  text-decoration: none;
 
}


.btn:hover {
    background-color: pink;
    border-color: pink;
    color: black;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(255,237,203, 0.7);
    width: 510px;
    height: 500px;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 80px;
}

.cimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 220px;
    margin-top: 10px;
}

.card-title {
    text-align: center;
    background: rgba(254, 166, 3, 0.25);
    border-width: min-content;
}

.card-text {
    width: 470px;
    height: 140px;
    overflow: auto;
}

.card-subtitle {
    color: green;
    margin-bottom: 6px;
    margin-top: 6px;
}
